.attendance__table {
    margin-top: 16px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;
}
  
.attendance__row {
    border-top: 1px solid #777574;
}
  
.attendance__label,
.attendance__data {
    padding: 16px 8px;
}

.attendance__label {
    color: #000;
    text-align: left;
    font-weight: bolder;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}
  
.modal:target {
    visibility: visible;
    opacity: 1;
}
  
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
  
.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 1px solid #8B7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}
  
.modal__content {
    position: relative;
    padding: 64px 64px;
}
  
.modal-form__group {
    display: grid;
    margin-top: 32px;
  
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
  
.modal-form__label {
    font-weight: bold;
}
  
.modal-form__delete-btn {
    margin: 64px auto 0;
    background-color: #BA370D;
    color: #FFF;
}
  
.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    color: #8B7969;
    text-align: center;
    text-decoration: none;
}


body {
    background-color: #EEEEEE;
}

h1,
form {
    text-align: center;
}

.search-form__date {
    font-size: large;
    font-weight: bold;
}

.paginate {
    display: flex;
    justify-content: center
}